



.search {
  width: 100%;
  
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #5C527F;
  border-right: none;
  padding: 0.45vw;
  height: 1.8vw;
  border-radius: 0.5rem 0 0 0.5rem;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #373b5e;
}

.searchButton {
  width: 3.2vw;
  height: 3.23vw;
  border: 1px solid #5C527F;
  background: #5C527F;
  text-align: center;
  color: #fff;
  border-radius: 0 0.5rem 0.5rem 0;
  cursor: pointer;
  
  margin: 0;
}

.iconSearch{
  height: 2vw;
    width: 2vw;
}
.wrap{
  width: 20vw;
  top: 50%;
  left: 50%;
  align-self: center;
  margin-right: 1vw;
}