.navbar {
  border: solid 1px;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  text-align-last: center;
  justify-content: space-around;
  margin: 2vw;
  padding: 1vw;
  flex-flow: wrap;
}
button,
.navbar,
select {
  font-size: 2vw;
}
h3 {
  margin: 0.5vw;
}
button,
.button {
  border: solid 1px black;
  border-radius: 999rem;
  padding: 0.4vw;
  text-decoration: none;
  margin: 0.1vw;
}
